@use "./radius" as *;
@use "./variables" as *;
@use "./stroke" as *;
@use "./mixins" as *;
@use "./effects" as *;
@use "sass:map";

.button {
  &.mat-mdc-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: map.get($radius, 2);
    background-color: map.get($secondary-colors, 200);
    color: map.get($neutral-colors, 100);
    @include typography(body, b1);
    border: map.get($stroke, 1) solid transparent;
    box-sizing: border-box;
    text-decoration: none;

    .mat-icon {
      width: 24px;
      height: 24px;
      color: inherit;
    }

    &:hover {
      background-color: map.get($neutral-colors, 100);
      color: map.get($secondary-colors, 200);
      box-shadow: map.get($effects, E2);
    }

    &:disabled {
      background-color: rgba(252, 71, 71, 0.102);
      color: map.get($secondary-colors, 100);
      box-shadow: map.get($effects, E0);
      cursor: not-allowed;
    }

    &.small {
      border-radius: map.get($radius, 2);
      width: 103px;
      height: 32px;
      .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }

    &.medium {
      border-radius: map.get($radius, 2);
      width: 109px;
      height: 39px;
      .mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
    }

    &.large {
      border-radius: map.get($radius, 2);
      width: 155px;
      height: 48px;
      .mat-icon {
        width: 24px;
        height: 24px;
        font-size: 28px;
      }
    }

    &.link {
      background: none;
      color: map.get($secondary-colors, 200);
      padding: 0;
      border: map.get($stroke, 0) solid transparent;
      box-shadow: map.get($effects, E0);
      text-decoration: underline;
      font-size: 16px;
      line-height: 16px;
      .mat-icon {
        font-size: 16px;
      }
    }

    &.icon-left {
      .mat-icon {
        order: -1;
        margin-right: 10px;
      }
    }

    &.icon-right {
      .mat-icon {
        order: 1;
        margin-left: 10px;
      }
    }
  }
}
