$primary-colors: (
  100: #cbcfe2,
  200: #acb7d3,
  300: #91a0c4,
  400: #7588b6,
  500: #5a70a7,
  600: #4b5d8c,
  700: #3c4b71,
  800: #2d3955,
  900: #1f273a,
  1000: #10141e,
  1010: #10141e
);

$secondary-colors: (
  100: #fea3a3,
  200: #fc4747,
  300: #f50404,
  400: #ab0303,
  10: #fc4747
);

$neutral-colors: (
    100: #ffffff,
  200: #e3e3e3,
  300: #c6c6c6,
  400: #aaaaaa,
  500: #8e8e8e,
  600: #717171,
  700: #555555,
  800: #393939,
  900: #1c1c1c,
  1000: #000000,
  1010: #000000
);

$red-colors: (
  100: #fb3748,
  200: #d00416,
  10: #fb3748
);

$yellow-colors: (
  100: #ffdb43,
  200: #dfb400,
  1000: #ffdb43
);

$green-colors: (
  100: #84ebb4,
  200: #1fc16b,
  1000: #1fc16b
);