<div class="detail-page-container">
  <div class="detail-header-section">
    <img
      src="https://www.istockphoto.com/resources/images/PhotoFTLP/NatureLandscapes-519760984.jpg"
      alt="Show Poster"
      class="detail-header-image"
    />
    <div class="detail-header-text">
      <h1 class="detail-header-title">Breaking Bad</h1>
      <h6 class="detail-header-subtitle">Plot Summary</h6>
      <p class="detail-header-content">
        Walter White, a high school chemistry teacher who, after being diagnosed
        with terminal lung cancer, partners with a former student, Jesse
        Pinkman, to manufacture and sell methamphetamine. Driven by a need to
        provide for his family after his death, Walter transforms from a
        mild-mannered teacher into a ruthless drug kingpin known as Heisenberg,
        navigating the dangerous criminal underworld while battling his illness
        and internal conflicts.
      </p>
    </div>
  </div>

  <div class="movie-screenshot-section">
    <h2 class="screenshots-section-title">Movies Screenshot</h2>
    <div class="screenshots-list">
      <app-screen-shot
        *ngFor="let img of screenshots"
        [imageUrl]="img"
      ></app-screen-shot>
    </div>
  </div>

  <div class="detail-content-section">
    <div class="comments-section">
      <h3 class="comments-title">{{ comments.length }} comments</h3>
      <div class="comments-list">
        <app-comment-card
          *ngFor="let comment of comments"
          [imageUrl]="comment.avatar"
          [name]="comment.user"
          [dateTime]="comment.date"
          [description]="comment.text"
        ></app-comment-card>
      </div>

      <ng-container *ngIf="!isLoggedIn; else commentInput">
        <button class="custom-leave-comment-btn" (click)="login()">
          Login to leave a comment
        </button>
      </ng-container>
      <ng-template #commentInput>
        <div class="comment-input-card">
          <img [src]="user.avatar" alt="User avatar" class="avatar" />
          <input
            [(ngModel)]="commentText"
            type="text"
            placeholder="Write a comment..."
          />
          <button (click)="submitComment()">Submit</button>
        </div>
      </ng-template>
    </div>

    <div class="side-section">
      <div class="director-section">
        <h3 class="comments-title">Director</h3>

        <div class="director-card">
          <img
            src="https://randomuser.me/api/portraits/men/2.jpg"
            alt="Vince Gilligan"
            class="director-avatar"
          />
          <span class="director-name">Vince Gilligan</span>
        </div>
      </div>
      <div class="top-cast-section">
        <h4>Top cast</h4>
        <div class="top-cast-list">
          <app-top-cast-card
            *ngFor="let cast of topCast"
            [imageUrl]="cast.avatar"
            [name]="cast.name"
          ></app-top-cast-card>
        </div>
      </div>
      <div class="reviews-section">
        <h4>Movie Reviews</h4>
        <app-rating-card
          *ngFor="let review of reviews"
          [reviewer]="review.reviewer"
          [rating]="review.rating"
          [content]="review.text"
        ></app-rating-card>
      </div>
    </div>
  </div>
</div>
