.recommendation__main {
  padding-inline: 1rem;

  @media (min-width: 1024px) {
    padding-inline: 4rem;
  }

  h2 {
    text-align: left;
    padding-inline: 0.5rem;
    font-size: 1.5rem;

    @media (min-width: 1024px) {
      padding-inline: 0;
      margin-bottom: 0.5rem;
    }
  }

  .recommendation__movies {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);

      h2 {
        font-size: 2.5rem;
      }
    }

    margin-bottom: 2rem;
  }
}
