<main>
  <section class="home-page">
    <app-hero-carousel />
    <section class="trending-section app-container">
      <div class="">
        <h2 class="trending-section__title">Trending Movies</h2>
        <div class="trending-section__carousel">
          <button
            class="trending-section__arrow trending-section__arrow--left"
            (click)="prevTrending()"
            [disabled]="currentTrendingStartIndex === 0"
          >
            <svg
              width="12"
              height="24"
              viewBox="0 0 12 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.843 12.711L7.5 18.368L8.914 16.954L3.964 12.004L8.914 7.054L7.5 5.64L1.843 11.297C1.65553 11.4845 1.55022 11.7388 1.55022 12.004C1.55022 12.2692 1.65553 12.5235 1.843 12.711Z"
                fill="white"
              />
            </svg>
          </button>
          <div
            class="trending-section__list"
            [ngClass]="trendingSlideDirection"
          >
            <app-trending-movie-card
              *ngFor="let movie of visibleTrendingMovies"
              [rank]="movie.rank"
              [image]="movie.image"
              [alt]="movie.alt"
            ></app-trending-movie-card>
          </div>
          <button
            class="trending-section__arrow trending-section__arrow--right"
            (click)="nextTrending()"
            [disabled]="currentTrendingStartIndex >= trendingMovies.length - 4"
          >
            <svg
              width="12"
              height="24"
              viewBox="0 0 12 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.157 12.711L4.5 18.368L3.086 16.954L8.036 12.004L3.086 7.054L4.5 5.64L10.157 11.297C10.3445 11.4845 10.4498 11.7388 10.4498 12.004C10.4498 12.2692 10.3445 12.5235 10.157 12.711Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section class="app-container">
      <app-accordion></app-accordion>
    </section>
  </section>
  <app-subscription-form />
</main>
