<div class="login-container">
  <div class="logo-container">
    <img src="Logo.png" alt="CineVerse Logo" />
  </div>

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="full-width email-username"
        >
          <mat-label>Username or Email address</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your email or username"
            required
          />
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="full-width password"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter password"
            formControlName="password"
            required
          />
        </mat-form-field>
        <div class="error-message-container">
          <div *ngIf="!!loginError" style="display: block; white-space: normal">
            {{ loginError }}
          </div>
        </div>
        <button
          mat-raised-button
          type="submit"
          class="login-button mat-mdc-raised-button"
          [disabled]="!loginForm.valid"
        >
          Login to your account
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions class="login-actions">
      <p class="signup-text">
        Don't have an account?
        <a routerLink="/signup" class="signup-link">Sign Up</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
