<div class="footer app-container">
  <div class="">
  <div class="footer-content">
    <div class="footer-links">
      <div class="footer-column faq">
        <a href="#" class="footer-link">FAQ</a>
        <a href="#" class="footer-link">Investor Relations</a>
        <a href="#" class="footer-link">Privacy</a>
        <a href="#" class="footer-link">Speed Test</a>
      </div>

      <div class="footer-column">
        <a href="#" class="footer-link">Help Centers</a>
        <a href="#" class="footer-link">Jobs</a>
        <a href="#" class="footer-link">Cookie Preferences</a>
        <a href="#" class="footer-link">Legal Notices</a>
      </div>

      <div class="footer-column desktop-tablet-only account">
        <a href="#" class="footer-link">Account</a>
        <a href="#" class="footer-link">Ways to Watch</a>
        <a href="#" class="footer-link">Only on Cine Verse</a>
      </div>

      <div class="footer-column desktop-tablet-only">
        <a href="#" class="footer-link">Media Center</a>
        <a href="#" class="footer-link">Terms of Use</a>
        <a href="#" class="footer-link">Contact us</a>
      </div>
    </div>

    <div class="footer-copyright">
      <p>Copyright © 2025 CineVerse Ghana</p>
    </div>

    <div class="footer-recaptcha">
      <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#" class="recaptcha-link">Learn more</a>.</p>
    </div>
  </div>
  </div>
</div>
