<h2>Frequently Asked Questions</h2>
<div class="accordion">
  <div
    div
    class="accordion-item"
    [ngClass]="{ open: activeIndex === i }"
    *ngFor="let item of accordionItems; let i = index"
  >
    <div class="accordion-header" (click)="toggle(i)">
      <h3>{{ item.title }}</h3>
      <ng-container *ngIf="activeIndex === i; else plusIcon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </ng-container>
      <ng-template #plusIcon>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        >
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
      </ng-template>
    </div>

    <div class="accordion-content" *ngIf="activeIndex === i">
      <p>{{ item.content }}</p>
    </div>
  </div>
</div>
